<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TabbedTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF28FA391EE4B6040099E06D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF28FA4F1EE4B6040099E06D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF28FA5A1EE4B6040099E06D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
